body { 
	background-color: white;
	color: black;
	font-family: Arial, sans-serif;
	font-size: small;
	margin: 5px;
}

a {	
	color: darkblue;
}

a:visited {	
	color: darkblue; 
}

.gwt-DialogBox {
	border: 2px solid #AAAAAA;
	background-color: white;
}

.gwt-DialogBox .Caption {
	background-image: url(gray_gradient.gif);
	background-repeat: repeat-x;
	padding: 4px;
	padding-bottom: 8px;
	font-weight: bold;
	cursor: default;
}

.gwt-MenuBar {
	background-color: #C3D9FF;
	cursor: default;
}

.gwt-MenuItem {
	font-size: 80%;
	margin: 1px;
	cursor: default;
}

.gwt-MenuItem-selected {
	background-color: #E8EEF7;
}

.gwt-Tree {
}

.gwt-Tree .gwt-TreeItem {
	font-size: 80%;
	cursor: default;
}

.gwt-Tree .gwt-TreeItem-selected {
	background-color: #C3D9FF;
}

.gwt-StackPanel {
	background-color: white;
	border: 1px solid #AAAAAA;
	width: 15em;
}

.gwt-StackPanel .gwt-StackPanelItem {
	background-image: url(blue_gradient.gif);
	background-repeat: repeat-x;
	background-color: #EEEEEE;
	cursor: pointer;
	cursor: hand;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {
}

.gwt-TabPanel {
	
}

.gwt-TabPanelBottom {
	border-left: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	border-bottom: 1px solid #87b3ff;
}

.gwt-TabBar {
	font-size: smaller;
}

.gwt-TabBar .gwt-TabBarFirst {
	height: 100%;
	border-bottom: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	padding-left: 3px;
}

.gwt-TabBar .gwt-TabBarRest {
	border-bottom: 1px solid #87b3ff;
	padding-right: 3px;
}

.gwt-TabBar .gwt-TabBarItem {
	border-top: 1px solid #87b3ff;
	border-bottom: 1px solid #87b3ff;
	padding: 2px;
	cursor: hand;
	white-space: nowrap;
	border-right: 1px solid #87b3ff;
}

.gwt-TabBar .gwt-TabBarItem-selected {
	font-weight: bold;
	background-color: #e8eef7;
	border-top: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	border-bottom: 1px solid #e8eef7;
	padding: 2px;
	cursor: default;
	white-space: nowrap;
}

.gwt-PushButton-up {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-up-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down {
  background-color: #C3D9FF;
  padding: 2px;
  background-color: #E8F1FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  background-color: #E8F1FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-RichTextArea {
  border: 1px solid black;
  background-color: white;
}

.gwt-RichTextToolbar {
  background-color: #C3D9FF;
  padding: 2px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-PushButton-down {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
  margin-right: 2px;
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
  margin-right: 2px;
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-HorizontalSplitPanel {
	border: 8px solid #C3D9FF;
}

.gwt-HorizontalSplitPanel .splitter {
	background-color: #C3D9FF;
	cursor: move;
}

.gwt-HorizontalSplitPanel .left {
  background-color: #E8EEF7;
}

.gwt-VerticalSplitPanel {
	border: 8px solid #C3D9FF;
}

.gwt-VerticalSplitPanel .splitter {
	background-color: #C3D9FF;
	height: 8px;
	cursor: move;
}

.gwt-SuggestBoxPopup {
	border: 2px solid #C3D9FF;
}

.gwt-SuggestBoxPopup .item {
	padding: 2px;
}

.gwt-SuggestBoxPopup .item-selected {
	background-color: #C3D9FF;
	padding: 2px;
}

.gwt-DisclosurePanel {
	border: 2px solid #C3D9FF;
}

.gwt-DisclosurePanel .header {
	background-color: #e8eef7;
	cursor: hand;
}

/* ************************************ */
/*           added                      */
/* ************************************ */
.center{
	margin: auto;
}
.application-title{
	text-align: center;
    font-family: arial;
    font-size: 25px;
}

.major-time-interval {
        display: block;
        height: 9px;
        _height: 10px;
        border-top: 1px solid #000000;
        width: 100%;
}

.minor-time-interval {
        display: block;
        height: 9px;
        _height: 10px;
        border-top: 1px dotted #000000;
        width: 100%;
}

.minor-time-interval-pause {
        display: block;
        height: 9px;
        _height: 10px;
        border-top: 1px dotted #000000;
        width: 100%;
        background:#E8EEF7;
}

.major-time-interval-pause {
        display: block;
        height: 9px;
        _height: 10px;
        border-top: 1px solid #000000;
        width: 100%;
        background:#E8EEF7;
}

.day-separator {
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0%;
        border-left: 1px solid #000000;
        /*border-right: 1px solid #000000;*/
        width: 3px;
}

.scroll-area {
        height: 500px;
        overflow: scroll;
}

.day-cell-container {
        height: 20px;
        position: relative;
        overflow: hidden;
        background:#E8EEF7 ;
}

.day-cell {
        border-left: 1px solid #000000;
        position: absolute;
        top: 0px;
        height: 100%;
        text-align: center;
        font-family: arial;
        font-size: 12px;
        padding-top: 2px;
        font-weight: normal;
        background:#E8EEF7;
}

.timeline-label{
	text-align:center;
	border-top: 1px solid #000000;
	background:#E8EEF7;
}

.timeline-label-pause{
	text-align:center;
	border-top: 1px solid #000000;
	background:#E8EEF7;
}

.teaching-cell {
        border-style:solid;border-width:1px;
        position: absolute;
        font-size: 10px;
        font-family: arial;
        overflow: hidden;
        /*filter: alpha(opacity = 80);
        opacity: .8;
    	-moz-opacity: .8;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;*/
        background:red;
}

.teaching-cell-header{
	background:Silver;
	font-size: 10px;
    font-family: arial;
/* 	border-bottom: 1px solid #000000 */
}
.teaching-cell-body{
	font-size: 10px;
	text-align : center;
    font-family: arial;
    font-style: italic;
    filter: alpha(opacity = 80);
    opacity: .8;
    -moz-opacity: .8;
}

.hour-label {
		width:100%;
        height: 100%;
        color: #446688;
        font-family: arial;
        font-size: 12px;
        display: block;
        border-top:1px solid #000000;
        background:#E8EEF7;
}